{% extends "base.html" %}

{% load i18n %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container text-start ">
  <div class="row justify-content-center">
    <div class="col-4">
      <h3 class="text-center category-header">{% trans "Sign In" %}</h3>
      <p>{% blocktrans %}If you have not created an account yet, then please
        <strong><a class="account-links" href="{{ signup_url }}">sign up</a></strong> first.{% endblocktrans %}</p>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center">
          <strong><a class="button secondaryAction account-links" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></strong></br>
          <button class="btn btn-outline-success sign-in-button" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>









{% endblock %}
