{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<div class="container text-start main-content">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm ">
      <h3 class="text-center category-header">{% trans "Sign Out" %}</h3>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" action="{% url 'account_logout' %}" class="form-control">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-outline-success sign-in-button" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}



      
      