{% extends 'base.html'%}

{% block content%}
<section class="main-content">
  <div class="container form-explain">
    <div class="row">
      <div class="col-sm text-center ">
        <h5 class="add-headline">Your Turn !</h5>
        <p>So add your favourite recipe here! The slug must be exactely the same as the Recipe title lowercase and connected with a dash. Like this for example: chocolate-pudding-with-caramel</p> </br>
        <p> When you have added your dish succesfully you will find it back in the oversight.</p>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class="col">
        <h6 class="category-header text-center">Your Recipe</h6>
        <form method="post" action="{% url 'recipe_submit' %}" class="form-control text-center form-body">
        {% csrf_token %}
       

        {{form.as_p}}
        
        
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

</section>

{% endblock content %}