{% extends 'base.html'%}

{% block content%}

<h5 class="category-header text-center">Desserts </h5>
<section class="main-content">
    <div class="container-fluid recipe-container"> 
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                {% for dess in dessert %}
                    <div class="col-md-4 ">
                        <div class="card mb-4 border-success">
                            <div class="card-body">
                                <div class="image-container">
                {%if 'placeholder' in dess.image.url %}
                                    <img class="card-img-frontpage" src="https://res.cloudinary.com/djbegeoiv/image/upload/v1678900306/130723-F-HF135-108_itwk5n.jpg" alt="picture">
                {%else%}
                                    <img class="card-img-frontpage" src="{{dess.image.url}}" alt="picture"></img>
                {%endif%}
                                    <div class="image-title">
                                        <p class="author"> {{ dess.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'recipe_detail' dess.slug %}" class="recipe-link">
                                    <h2 class="card-title"> {{ dess.recipe }}</h2>
                                    <p class="card-text">{{ dess.cooking_time }}</p>
                                </a>
                                <hr /> 
                                <p class='card-text text-muted h6'> {{ dess.created_on }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
    
                </div>
                <div class="row">
                {%endif%}
                {%endfor%}
                </div>
                </div>
            </div>
        </div> 
    </div>
</section>

{% endblock content %}