{% extends "base.html" %}

{% block content %}
<section>
    <div class="container-fluid teaser">
        <div class="row">
            <div class="col">
                <div class="#">
                    <h3 id="headline">Looking for inspiration in the kitchen??</h3>
                    <p> Look no further. Here you can share, find and save recipes.</p> </br> 
                    <p> Also let us know how it worked out in the kitchen and do leave a comment under the recipes.</p>
                    <p> Don't forget to sign-up to get started</p>
                    <button type="button" class="btn btn-outline-success"> Register</button>
                </div>
            </div>
        </div>
    </div>        
</section>
<section>
    <div class="container-fluid recipe-container"> 
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                
                {% for recipe in recipe_list %}
                    <div class="col-md-4 ">
                        <div class="card mb-4 border-success">
                            <div class="card-body">
                                <div class="image-container">
                                    {%if 'placeholder' in recipe.image.url %}
                                    <img class="card-img-frontpage" src="https://res.cloudinary.com/djbegeoiv/image/upload/v1678900306/130723-F-HF135-108_itwk5n.jpg" alt="picture">
                                    {%else%}
                                    <img class="card-img-frontpage" src="{{recipe.image.url}}" alt="picture"></img>
                                    {%endif%}
                                    <div class="image-title">
                                        <p class="author"> {{ recipe.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'recipe_details' recipe.slug %}" class="recipe-link">
                                    <h2 class="card-title"> {{ recipe.recipe }}</h2>
                                    <p class="card-text">{{ recipe.cooking_time }}</p>
                                </a>
                                <hr /> 
                                <p class='card-text text-muted h6'> {{ recipe.created_on }}
                                    <i class="far fa-like"></i>{{recipe.number_of_likes}}
                                </p>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
    
                </div>
                <div class="row">
                {%endif%}
                {%endfor%}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>

{% endblock content %}