
{% extends "base.html"%}
   
        {% block content %}
<section class="main-content" >
        <div class="jumbotron-fluid">
            <div class="container full-display-summary">  
                <div class="media">
                    <div class="media-body text-center">
                        <h4 class="card-title"> {{ recipe.recipe }}</h4>
                        <p class="card-text"> {{recipe.cooking_time}}</p>
                        <p class="card-text">{{ recipe.amount_of_people}} People </p>
                        {% if "placeholder" in recipe.image.url %}
                        <img class="card-img-frontpage " src="https://res.cloudinary.com/djbegeoiv/image/upload/v1680018556/pexels-elevate-1267320_r0kwnn.jpg" alt="Dish">
                        {% else %}
                        <img class="recipe-img" src=" {{ recipe.image.url }}" width="100%">
                        {% endif %}
                        <p class="card-text">{{ recipe.author }} | {{ recipe.created_on}}  </p>
                    </div>
                </div>   
            </div>
            <div class="container-fluid" >
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm full-display">
                        <h5 class="full-display-header"> Ingriedients</h5>
                        {{recipe.ingriedients | safe}}</div>
                    <div class="col-md-4 col-sm full-display">
                        <h5 class="full-display-header"> Preperation</h5>
                        {{recipe.preperation | safe }}</div>
                </div>
            </div>
        </div>
</section>
        {% endblock content %}  

       
 