{% extends 'base.html'%}

{% block content%}

<h5 class="category-header text-center">Starters </h5>
{% for start in starter %}
<div class="col-md-4 ">
    <div class="card mb-4 border-success">
        <div class="card-body">
            <div class="image-container">
                {%if 'placeholder' in start.image.url %}
                <img class="card-img-frontpage" src="https://res.cloudinary.com/djbegeoiv/image/upload/v1678900306/130723-F-HF135-108_itwk5n.jpg" alt="picture">
                {%else%}
                <img class="card-img-frontpage" src="{{start.image.url}}" alt="picture"></img>
                {%endif%}
                <div class="image-title">
                    <p class="author"> {{ start.author }}</p>
                </div>
            </div>
            <a href="{% url 'recipe_detail' dine.slug %}" class="recipe-link">
                <h2 class="card-title"> {{ start.recipe }}</h2>
                <p class="card-text">{{ start.cooking_time }}</p>
            </a>
            <hr /> 
            <p class='card-text text-muted h6'> {{ start.created_on }}
                <i class="far fa-like"></i>{{start.number_of_likes}}
            </p>
        </div>
    </div>
</div>
{% endfor%}
{% endblock content %}